:root {
  --black: #000;
  --white: #fff;
}

.dark-theme {
  --fore-ground: var(--black);
  --back-ground: var(--white);
  --active-color: #0369a1;
}

.light-theme {
  --fore-ground: var(--white);
  --back-ground: var(--black);
  --active-color: #14b8a6;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background: var(--fore-ground);
  color: var(--back-ground);
}

.show-full #deleteElemBtn {
  display: inline-block;
}

.show-full .details {
  display: block;
  gap: 16px;
}

input.args,
select {
  padding: 0px 6px;
  background-color: inherit;
  color: inherit;
  border: 2px solid var(--back-ground);
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.stable {
  color: var(--active-color);
}

.depecreted {
  color: red;
}

#toast-info {
  display: none;
  padding: 4px 6px;
  border: 2px solid red;
  border-radius: 24px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.themeChangeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 450px) {
  .up-down {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .responsive-hide {
    display: none;
  }
}
